body{
margin: 0;
padding: 0;
}

div{
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-1{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    background-color: hsl(0, 0%, 20%);
    padding-top: 10px;
}

.profile-picture{
    margin-block: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture:hover{
    cursor: pointer;
    
}

.sidebar-2{

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: 70px;
    width: 200px;
    background-color: hsl(0, 0%, 30%);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submenu{
padding-inline: 15px;
color: #fff;
font-size: 0.8em;
font-weight: bold;
padding-top: 10px;
}

.submenu2{
    padding-inline: 15px;
    padding-top: 10 px;
    color: gray;
    font-size: 1.5em;
    }

.submenu2,.channel-topics > p:hover{
    color: hsl(0, 0%, 70%);
    cursor: pointer;
}

.channel-topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    font-size: 1em;
    line-height: 0;
    margin-left: 15px;
}